{{define "base"}}
    {{template "head" .}}
    {{template "home" .}}
    {{template "close" .}}
{{end}}


<!-- main sections -->
{{define "home"}} 
<main class="max-w-3xl mx-auto px-8 space-y-5">
  <div classs="grid space-y-5">
    <div class="flex justify-between p-2">
      {{template "count" .}}
      <a
        href="/add"
        class="shadow bg-blue-500 hover:bg-blue-700 text-white rounded-full text-3xl font-bold h-10 w-10 text-center"
        >+</a
      >
    </div>
    <div
      id="list"
      hx-get="/contacts"
      class="space-y-2"
      hx-trigger="changed, load"
    >
      <br />
      {{template "list" .}}
    </div>
  </div>
</main>
{{end}}
